@use '/common/mixins';
@import 'common/variables';
@import 'common/templates';

.NanoLotMobile {
    &_image {
        img {
            @include mixins.adaptiveImage(950);
            width: 100%;
        }
        margin-bottom: 10px;
    }

    &_wrapper {

        &_left {
        }

        &_right {
        }
    }

    &_header {
        h1 {
            text-align: center;
            @extend %h1-template;

            @media (max-width: 768px) {
                @include mixins.adaptiveValue('font-size', 43, 32);
                line-height: 1.193;

                color: $title-text;
                font-weight: 600;
            }
        }

        h3 {
            text-align: center;
            @extend %h3-template;

            @include mixins.adaptiveValue('margin-bottom', 13, 8);

        }


        @include mixins.adaptiveValue('margin-bottom', 45, 25);
    }

    &_btn {
        text-align: center;

        a {
            display: inline-block;

            @extend %button-primary-template;

            &:hover {
                @extend %button-primary-hover-template;
            }
        }

        @include mixins.adaptiveValue('margin-bottom', 52, 32);
    }
}
