@import 'common/_variables.scss';

.default {
  cursor: pointer;
  color: $color-white;
  background-color: $color-primary;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #0479fd;
  letter-spacing: 0.5px;
  &:hover {
    background-color: $color-primary-hover;
  }
}

.red {
  background: $error;
}
