@use 'function';
@use 'variables';


$minWidth: 320;
$maxWidth: 1920;
// 0 - без ограничений
$maxWidthContainer: 1324;
$containerPadding: 30;

// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина отрабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: function.em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: function.em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: function.em(767.98); // Телефоны L
$mobileSmall: function.em(479.98); // Телефоны S


